//Variables

// Fonts
$my-font: "Anton", "cursive", sans-serif;

// Colors
$black: #000000;
$blue1: #a9cef4;
$blue2: #7ea0b7;
$blue3: #597081;
$charcoal: #36494e;
// $my-color: orange;
// sizes

// others
