// Classes setup

// Loader setup
.loader {
  @include screen;
  @include flex;
  flex-direction: column;
  position: absolute;
}

//  Form setup
.form {
  @include flex;
  padding: 1em;
}

// Info setup
.country {
  width: 100vw;
  margin: 1.2rem;
  @include flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  h2 {
    margin-bottom: 1em;
  }
  .flag {
    margin-top: 2em;
    width: 10em;
    height: 10em;
  }
}
